@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: black;
  background: rgb(255, 255, 255);
  margin: 0;
}

table, td, tr, th {
  border: 1px solid black;
  padding: 0.5rem;
  white-space: nowrap;
}

input {
  border: 1px solid black;
}